* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  background-color: #e7e8d1;
  color: #b85042;
}

h1 {
  font-family: sans-serif;
}

.length-container {
  width: 230px;
  display: flex;
  gap: 6rem;
}

[data-copy] {
  background: none;
  border: none;
  position: absolute;
  right: 6px;
  top: 6px;
  color: #e7e8d1;
  cursor: pointer;
}

.display-container {
  width: 15%;
  height: 4%;
  position: relative;
  /*  border: 0.012rem solid slategrey; */
  border: none;
  border-radius: 0.4rem;
  /*  overflow: hidden; */
  position: relative;
}

[data-passwardDisplay] {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #b85042;
  color: #e7e8d1;
  border-radius: 0.2rem;
}

::placeholder {
  color: #e7e8d1;
  transform: translateX(10px);
}

/* .uppercase{
    background-color:#ADEFD1FF ;
} */

.generateBtn {
  background-color: #b85042;
}

.slider {
  appearance: none;
  width: 150px;
  height: 5px;
  border-radius: 10px;
  background-color: #b85042;
  outline: none;
  cursor: pointer;
  transform: translateX(32px);
  margin-bottom: 15px;
  margin-top: 10px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #330000;
}

.strength-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: larger;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

[data-indicator] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
}

.generateBtn {
  appearance: none;
  padding: 5px 10px;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: 0.2rem;
  color: #e7e8d1;
  cursor: pointer;
  font-family: sans-serif;
}

[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: #b85042;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

[type~="checkbox"]:hover {
  background-color: #bc857e;
}

[type~="checkbox"]::after {
  content: "\2714";
  /* font-family:"fa-regular fa-check"; */
  font-size: 12px;
  color: #e7e8d1;
  bottom: 1px;
  display: none;
}

[type~="checkbox"]:checked::after {
  display: block;
}

[data-copyMsg] {
  position: absolute;
  right: -50px;
  color: #e7e8d1;
  background-color: #b85042;
  padding: 2px 4px;
  font-size: 11px;
  border-radius: 0.2rem;
  display: none;
}

.active {
  display: block;
}
